[defaults]
# Default inventory file (defaults to dev)
inventory = inventories/dev/hosts.yml

# Reusable roles and collections paths
roles_path = roles
collections_path = collections

# Enable YAML output callback for clean and readable output
stdout_callback = yaml

# Enable task execution profiling and timer callbacks
callbacks_enabled = ansible.posix.profile_tasks, ansible.posix.timer

# Disable host key checking for ease of demo (recommend True in strict environments)
host_key_checking = False

# Increase parallel processes for large scale inventory deployments
forks = 20

# Run with python3 as the standard interpreter on target systems
interpreter_python = auto_silent

[privilege_escalation]
# Default privilege escalation settings
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
# Pipelining reduces SSH operations by running module code in-memory.
# Requires 'requiretty' to be disabled in target sudoers configurations.
pipelining = True

# Multiplexes SSH connections to reduce handshake overhead.
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
control_path_dir = ~/.ansible/cp
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
